<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Margin</string>
    <key>CFBundleExecutable</key>
    <string>Margin</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.valetivivek.margin</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Margin</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.4.3</string>
    <key>CFBundleVersion</key>
    <string>12</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.productivity</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSCalendarsFullAccessUsageDescription</key>
	<string>Show, add, edit, and delete calendar events through macOS Calendar.</string>
    <key>NSCalendarsUsageDescription</key>
	<string>Show, add, edit, and delete calendar events through macOS Calendar.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Unlock your private notes.</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <true/>
    <key>SUSendProfileInfo</key>
    <false/>
    <key>SUFeedURL</key>
    <string>https://github.com/valetivivek/Margin/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>JV/NzxnwIACtvMS/8B3gfPC4bA3cwlOdaI0eg/l/06c=</string>
    <key>SURequireSignedFeed</key>
    <true/>
    <key>SUVerifyUpdateBeforeExtraction</key>
    <true/>
    <key>ATSApplicationFontsPath</key>
    <string>Fonts</string>
</dict>
</plist>
